/* .leaflet-touch .leaflet-control-geocoder { */
  /* display: flex; */
  /* min-width: 30px; */
  /* min-height: 30px; */
  /* position: fixed;
    right:10rem; */
  /* width: 16rem; */
  /* top: 11rem; */
  /* height: 2.8rem; */
/* } */

/* .leaflet-bar .leaflet-control-geocoder .leaflet-control {
    position: fixed;
    left: 11vw;
  }
@media screen and (max-width: 1000px) {
  .leaflet-bar .leaflet-control-geocoder .leaflet-control {
    left: 5vw;
  }
} */
